<p id = "notice"></p>
<p>
  <strong>Title:</strong>
</p>
<p>
  <strong>Body:</strong>
</p>
<%= link_to "編集", edit_book_path(@book.id) 
<a class = "edit" href = "/books/edit">Edit</a>
|
<a class = "back" href = "/books">Back</a>